@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Color del texto blanco para contraste con el fondo oscuro */
  --background-start-rgb: 0, 0, 50; /* Azul oscuro */
  --background-end-rgb: 0, 0, 80;   /* Azul más oscuro para el degradado */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Color del texto blanco */
    --background-start-rgb: 0, 0, 50; /* Azul oscuro */
    --background-end-rgb: 0, 0, 80;   /* Azul más oscuro */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)), /* Color de fondo inicial */
      rgb(var(--background-end-rgb))    /* Color de fondo final */
    );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
